WebServiceClient/Connected Services/ServiceReference1/TestService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="https://localhost:44306/TestService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="https://localhost:44306/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_GetAllTutorials_InputMessage">
    <wsdl:part name="parameters" element="GetAllTutorials" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetAllTutorials_OutputMessage">
    <wsdl:part name="parameters" element="GetAllTutorialsResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetTutorialByID_InputMessage">
    <wsdl:part name="parameters" element="GetTutorialByID" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetTutorialByID_OutputMessage">
    <wsdl:part name="parameters" element="GetTutorialByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_AddTutorial_InputMessage">
    <wsdl:part name="parameters" element="AddTutorial" />
  </wsdl:message>
  <wsdl:message name="ITestService_AddTutorial_OutputMessage">
    <wsdl:part name="parameters" element="AddTutorialResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_DeleteTutorial_InputMessage">
    <wsdl:part name="parameters" element="DeleteTutorial" />
  </wsdl:message>
  <wsdl:message name="ITestService_DeleteTutorial_OutputMessage">
    <wsdl:part name="parameters" element="DeleteTutorialResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="GetAllTutorials">
      <wsdl:input wsaw:Action="urn:ITestService/GetAllTutorials" message="ITestService_GetAllTutorials_InputMessage" />
      <wsdl:output wsaw:Action="urn:ITestService/GetAllTutorialsResponse" message="ITestService_GetAllTutorials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorialByID">
      <wsdl:input wsaw:Action="urn:ITestService/GetTutorialByID" message="ITestService_GetTutorialByID_InputMessage" />
      <wsdl:output wsaw:Action="urn:ITestService/GetTutorialByIDResponse" message="ITestService_GetTutorialByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTutorial">
      <wsdl:input wsaw:Action="urn:ITestService/AddTutorial" message="ITestService_AddTutorial_InputMessage" />
      <wsdl:output wsaw:Action="urn:ITestService/AddTutorialResponse" message="ITestService_AddTutorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTutorial">
      <wsdl:input wsaw:Action="urn:ITestService/DeleteTutorial" message="ITestService_DeleteTutorial_InputMessage" />
      <wsdl:output wsaw:Action="urn:ITestService/DeleteTutorialResponse" message="ITestService_DeleteTutorial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>